<div [ngStyle]="{backgroundImage:'url(' + backGroundImage + ')'}">
<div class="landing_text mx-auto col-lg-8 container-fluid d-flex align-items-center justify-content-center vh-100">
  <p class="_title">HandyHero</p>
  <p class="landing_body_text">
    Introducing our innovative application that seamlessly connects service providers with service seekers. With our
    platform, users can easily find and connect with a wide range of service professionals, from plumbers and
    electricians to tutors and personal trainers. Our intuitive interface streamlines the process, providing a convenient and
    efficient solution for both service providers and seekers alike. Experience hassle-free access to quality services
    with our application today.
  </p>
  <button class="btn _primaryButton" (click)="letsStart()">Let's Start</button>
</div>
</div>
