/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
body {
  font-family: "Inika", serif;
  font-style: normal;
}
._primaryButton {
  background-color: black;
  color: white;
  border-radius: 15px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
._primaryButton:hover {
  background-color: white;
  color: black;
  border-radius: 15px;
  border: none;
}
